<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %-5level %highlight(%logger) Line:%-3L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <!--Logstash的 IP 和端口-->
        <destination>192.168.31.200:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--官方不建议在生产环境中开启默认是false-->
            <includeCallerData>true</includeCallerData>
            <timeZone>UTC</timeZone>
            <customFields>{"server_name":"hr-monitor-server"}</customFields>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STASH"/>
    </root>
</configuration>